/*Excursion Styling*/

body{
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.main_title{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a{
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

video{
  display: block;
  margin: 0 auto;
}

.secondary{
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}

h3{
  color: gray;
  font-family: Verdana;
  font-size: 21px;
  text-align: center;
}

.image img,
.logo img{
  display: block;
  margin: 0 auto;
}

.foot{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.copyright{
  color: gray;
  text-align: right;
  bottom: 10px;
  right: 15px;
  position: fixed;
}

